// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/16px (default browser) = 75
$bp-large: 62.5em; // 1000px/16px = 62.5em
$bp-medium: 50em;  // 800px/16px = 50em
$bp-small: 37.5em; // 600px/16px = 37.5em

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem == 10px

  //* DESKTOP FIRST APPROACH
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; //* All of a sudden 1rem == 8px
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  // min-content or auto say that the heigh of the row will adjust according to its content
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  //* 1140/8 = 142.5 px == 14rem
  // minmax: for responsive columns only not for wrapping
  // 1fr : to take the remaining white space left
  grid-template-columns: [sidebar-start] 9rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start]
                         repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
                         [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    //* Main Grid Definition
    // Removing one column and then adding a new row
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
                          repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
                          [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    //* Main Grid Definition
    // We use calc for the main banner to take whole screen then as soon as we scroll we see the new section
    // grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content);

    // Better aproach is to let GRID to define implicit rows 'cause they'll be using min-content as default
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}