.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)) , url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  //* 1fr in rows takes the remaining spaces and allows other rows to be sized automatically
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  //* min-content: the smallest width possible for the column
  //* max-content: the biggest width possible for the column, without to do any line breaks
  //*BOTH THE ABOVE CAN BE RESUME IN: THE SMALLEST/BIGGEST (WIDTH/HEIGHT) POSSIBLE FOR THE (ROW/COLUMN) DEPENDING IN THE CONTEXT WHICH IS USED
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  //* Without it the button expands to all axis
  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-1;

    &::before,
    &::after {
      content: "";
      height: 1px;
      background-color: currentColor; }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      //* When using max keyboard it can mean: CAN BE LESS THAN...
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}